* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 2rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "display display display display"
    "add subtract multiply divide"
    "seven eight nine equals"
    "four five six equals"
    "one two three equals"
    "zero point clear equals";
  border: 1px solid black;
  width: 500px;
  height: 700px;
  margin: 100px auto;
}

.btn {
  border: 1px solid black;
}

.display {
  grid-area: display;
  text-align: right;
}

.equals {
  grid-area: equals;
}

.btn {
  text-align: center;
}
